<div class="card-panel">
  <%=  simple_form_for @checklist do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>

    <div class="form-actions">
      <%= link_to "Back", root_path, class: "btn grey darken-2" %>
      <%= f.button :submit %>
      <%= link_to_add_association('Add Question', f, :questions, class: 'btn orange', data: {
        association_insertion_node: '.questions', association_insertion_method: :append
      }) %>
    </div>

    <div class="questions">
      <h4>Questions</h4>
      <%= f.simple_fields_for :questions do |builder| %>
      <%= render 'question_fields', f: builder %>
    <% end %>  
    <div>
  <% end %>
</div>
